:root {
    --primary-color: #055a05;
    /* forest green */
    --secondary-color: #f4a261;
    /* warm sad */
    --accent1-color: #300;
    /* dark slate blue */
    --accent2-color: #e9e16a;
    /* light golden yellow */
    --heading-font: "Times New Roman", "georgia", serif;
    --body-font: Ariel, Helvetica, sans-serif;
}

/* CSS Reset with box-sizing */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent2-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
    color: black;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

div img {
    display: block;
    width: 100%;
    height: auto;
}

.special-image {
    width: 150px;
    border: 3px solid black;
    border-radius: 100px;
    box-shadow: 0 0 10px rgb(47, 199, 27);
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: #eee;
}

h2 {
    text-align: left;
}

.hero article {
    position: absolute;
    top: 60px;
    width: 100%;
    max-height: 25%;
    padding: 5px;
    border: 1px solid rgb(0 0 0 / 10%);
    background-color: aliceblue;
}

.hero article img {
    padding: 2px;
    float: right;
    width: 125px;
    margin: auto;
    box-shadow: 5px 5px 10px #738319;
}